.history {
  height: 100vh;
  display: flex;
  padding-top: 90px;
  flex-direction: column;
  align-items: center;
  &_card {
    position: relative;
    border: 1px solid black;
    width: 250px;
    margin-block: 10px;
    text-transform: capitalize;
    border-radius: 15px;
    padding: 10px 20px 30px;
    display: flex;
  }
  img {
    height: 90px;
    width: 100px;
    object-fit: cover;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  span {
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
  }
  background-color: #f4fff8;
}
