.rewards {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .coupon {
    border: 1px solid black;
    width: 250px;
    margin-top: 20px;
    text-align: center;
  }
  .barcode {
    border: 1px solid black;
    width: 250px;
    height: 80px;
  }
}
