.results {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin-inline: 20px;
  background-color: #f4fff8;
  .white-link {
    color: #f4fff8;
  }
  button {
    margin-top: 7px;
  }
  .buttons {
    margin-top: 10px;
  }
  img {
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
  }
  text-align: center;
  h3 {
    margin-top: 10px;
    margin-bottom: 0;
  }
  p {
    font-size: 20px;
    width: 300px;
    margin-block: 2px;
  }
}
