.nav {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c3738;

  a {
    img {
      height: 23px;
      position: absolute;
      left: 25px;
      top: 30px;
    }
  }

  .logo {
    height: 60px;
  }

  span {
    position: relative;
    color: #f4fff8;

    img {
      height: 30px;
      position: absolute;
      right: -26vw;
      top: -15px;
    }

    .expanded {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 10px 20px 25px 0px;
      width: 140px;
      top: 42px;
      z-index: 2;
      font-size: 20px;
      right: -121px;
      text-align: right;
      color: black;
      background-color: #6f9283;
      -webkit-box-shadow: -50px 100px 0 100px rgba(black, 0.5);
      box-shadow: -50px 366px 0 366px rgba(black, 0.5);
    }
    .underline {
      border-bottom: 1px solid #f4fff8;
    }
  }
}
